@import "../common/variables";
@import "../common/containers";

.selector {
    padding: 8px 12px;
    max-width: 200px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;

    &_active {
        border-color: $highlight-color;
    }
}

.container {
    @include flex(row, 16px);
    overflow: auto;
}