@import "../common/containers";

.list {
    @include grid(1, 16px);

    @media (min-width: 768px) {
        @include grid(2, 16px);
    }

    @media (min-width: 1279px) {
        @include grid(3, 16px);
    }
}

.container {
    @include flex(column);
    @extend %base_container;
    padding: 0;

    &__image {
        max-width: 100%;
    }

    &__content {
        padding: 8px 16px;
    }

    &__name {
        font-size: 20px;
    }

    &__description {
        margin: 8px 0;
    }

    &__quality {
        margin: 8px 0;

        &_name {
            font-weight: bold;
            margin-right: 1ch;
        }
    }
}